.table-header-clickable thead th{
	cursor:pointer;
}
.table-header-clickable thead th:hover{
	color:#000;
}
.table-row-clickable tbody tr{
	cursor:pointer;
}
.nav-action{
	margin-right:50px;
}
.name-button{
	border:#AAA solid 1px;
}
.name-button:hover{
	background-color:rgba(0,0,0,0.2);
}
