<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug">

    <Properties>
        <Property name="filename">dta-services.log</Property>
    </Properties>

    <Appenders>
        <Console name="stdout" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %c %M%n%-5p: %m%n" />
        </Console>
        <File name="main-file" fileName="${filename}">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %c %M - %-5p: %m%n" />
        </File>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="stdout" />
        </Root>
        <Logger name="com.dta.services" level="debug">
            <AppenderRef ref="stdout" />
            <AppenderRef ref="main-file" />
        </Logger>
    </Loggers>

</Configuration>